* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #0f2027;
  color: white;
}

/* NAVBAR */
nav {
  position: fixed;
  width: 100%;
  top: 0;
  background: rgba(0,0,0,0.85);
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  z-index: 1000;
}

.logo {
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 25px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #ffcc00;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

nav ul li a:hover::after {
  width: 100%;
}

/* SECTION */
section {
  padding: 120px 20px;
  text-align: center;
  min-height: 100vh;
}

/* HERO */
.hero {
  background: linear-gradient(135deg,#203a43,#2c5364);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid white;
  margin-bottom: 20px;
}

.hero p {
  margin-top: 10px;
  opacity: 0.8;
}

/* CARD */
.card {
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  background: rgba(255,255,255,0.05);
  border-radius: 12px;
}

/* SKILLS */
.skills {
  margin-top: 30px;
}

.skills span {
  display: inline-block;
  margin: 10px;
  padding: 10px 18px;
  background: #ffcc00;
  color: black;
  border-radius: 20px;
  font-weight: bold;
}

/* PROJECTS */
.projects {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.project-card {
  width: 280px;
  padding: 20px;
  background: rgba(255,255,255,0.05);
  border-radius: 12px;
  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-10px);
}
